.light-mode {
  .hangman-container {
    background: linear-gradient(to bottom, #e5ebdf, rgba(253, 211, 152, 0.377));
  }
  .hangman-container h3 {
    color: #ff6905;
  }

  .hangman-container p {
    font-size: 18px;
    color: #2e2d2d;
    margin-bottom: 10px;
  }
  .hangman-container button {
    background-color: #e75c5c;
  }
}

.hangman-container {
  text-align: center;
  background: linear-gradient(to bottom, #e5ebdf, rgb(0, 0, 0));
  border: 1px solid rgb(255, 0, 0);
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  height: auto;
  margin: 10px auto;
  margin-top: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

h2 {
  padding: 20px;
  font-size: 34px;
  color: #e75555;
}

h3 {
  padding: 20px;
  font-size: 24px;
  color: #e75555;
  font-weight: bold;
}

p {
  font-size: 18px;
  color: #ffffff;
  margin-bottom: 10px;
}

.letter-buttons {
  margin-top: 20px;
}

.hangman-container button {
  font-size: 20px;
  padding: 5px 10px;
  margin: 5px;
  background-color: #ff4517;
  color: rgb(255, 255, 255);
  border-radius: 10px;
  box-shadow: 1px 2px 5px rgb(0, 0, 0);
  cursor: pointer;
}




.game-won button {
  margin: 20px;
  background-color: #767676;
  color: #ffffff;
  font-size: 20px;
  padding: 10px 10px;
  border: 2px solid #ddff00;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.game-won button:hover {
  background-color: #ddff00;
  border: 2px solid rgb(255, 255, 255);
  color: black;
}

.backHome {
  text-decoration: none;
  margin: 20px;
  background-color: #767676;
  color: #ffffff;
  border-radius: 10px;
  font-size: 20px;
  padding: 10px 10px;
  border: 2px solid #2fff00;
  cursor: pointer;
  transition: background-color 0.3s ease;
}

.backHome:hover {
  background-color: #2fff00;
  border: 2px solid rgb(255, 255, 255);
  color: black;
}



@media (max-width: 768px) {
  .hangman-container {
    width: 95%;
    margin: 10px;
  }

  .vertical-hangman {
    width: 50%;
  }
}
