
.game {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(84, 84, 84, 0.153);
  border: 1px solid rgb(255, 0, 230);
  padding: 20px;
  border-radius: 10px;
  max-width: 500px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
}



@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.game-board {
  padding: 50px;
  margin: 10px;
}


@media (max-width: 768px) {
  .game {
    max-width: 100%;
    margin: 20px;
    margin-bottom: 50px;
  }


}

.board-row {
  display: flex;
}

.square {
  width: 80px;
  height: 80px;
  font-size: 24px;
  font-weight: bold;
  text-align: center;
  background-color: rgb(230, 96, 138);
  color: black;
  border-radius: 10px;
  cursor: pointer;
  margin: 2px;
}

.square:hover {
  background-color: #e20c3e;
}

.game-info {
  background-color: rgba(84, 84, 84, 0.274);
  border: 1px solid rgb(255, 116, 241);
  border-radius: 8px;
  font-size: 25px;
  padding: 20px;
  font-weight: bold;
  color: rgb(229, 69, 80);
}

.boton {
  display: flex;
  justify-items: center;
  font-size: 18px;
  background-color: #000000;
  border: 1px solid rgb(255, 255, 255);
  border-radius: 5px;
  cursor: pointer;
  margin: 5px auto;

}

button:hover {
  background-color: #ff0000;
  color: rgb(255, 255, 255);
}
