

.texto {
  background-color: rgba(0, 0, 0, 0.566);
  border: 1px solid rgb(158, 255, 131);
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  margin-bottom: 50px;
  text-align: justify;
}

.titulo {
  margin-bottom: 30px;
  color: rgb(77, 255, 252);
  text-align: center;
}


h4 {
  text-align: center;
  font-size: 18px;
  font-weight: bold;
  color: #52fc3c;
}

p {
  text-align: center;
  font-size: 20px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .titulo {
   
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 15px;
  }
}