.texto {
  max-width: 800px;
  margin: 0 auto;
  padding: 20px;
  text-align: justify;
}

.titulo {
  color: #0ff8f3ff;
  text-align: center;
}


h4 {
  font-size: 18px;
  font-weight: bold;
  color: #52fc3c;
}

p {
  font-size: 16px;
  line-height: 1.5;
  margin-top: 10px;
  margin-bottom: 10px;
}

@media (max-width: 768px) {
  .titulo {
    font-size: 24px;
  }
  h2 {
    font-size: 22px;
  }
  h3 {
    font-size: 18px;
  }
  h4 {
    font-size: 16px;
  }
  p {
    font-size: 14px;
  }
}