.texto {
  text-align: left;
  width: 50%;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.817);
  box-shadow: 0 4px 8px rgb(181, 31, 245);
}

.titulo {
  font-size: 36px;
  color: #9d11e3e8;
  margin-bottom: 20px;
}

.p {
  font-size: 18px;
  line-height: 1.7;
  color: #ffffff;
}

.resaltado {
  color: #ffca2cff;
}


@media (max-width: 768px) {
.texto {
  text-align: left;
  width: 90%;
  padding: 3%;
  background-color: rgba(0, 0, 0, 0.817);
  box-shadow: 0 4px 8px rgb(181, 31, 245);
  margin: 10px auto;
}}
