@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
body {
  background: linear-gradient(
    to right,
    rgb(0, 10, 61),
    rgb(0, 0, 0),
    rgb(0, 12, 50)
  );
  margin: 0;
  font-family: "IBM Plex Mono", monospace;

}

h1 {
  background: linear-gradient(
    to right,
    rgb(3, 179, 255),
    rgba(0, 8, 255, 0.655),
    rgb(1, 4, 59),
    rgb(2, 0, 23),
    rgb(0, 0, 0),
    rgb(2, 0, 23),
    rgb(1, 4, 59),
    rgba(3, 3, 244, 0.817),
    rgb(3, 179, 255)
  );
  color: #fffe04ff;
  text-align: center;
  margin: 0 auto;
  padding: 20px;
  font-family: 'Orbitron', sans-serif;

}


img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: 150px;
}
header{
  background-color: #000000;
}

footer{
  background: linear-gradient(
    to right,
    rgba(58, 245, 255, 0.653),
    rgba(0, 8, 255, 0.655),
    rgb(1, 4, 59),
    rgba(0, 0, 0, 0.897),
    rgb(1, 4, 59),
    rgba(3, 3, 244, 0.817),
    rgba(5, 213, 240, 0.468)
  );
  color: rgb(255, 255, 255);
  text-align: center;
  padding:5px;
  text-decoration: none;
  
}
footer a {
  text-decoration: none;
  color: #cecece;
  font-size: 15px;
  font-weight: bold;
}
