@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Mono&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Orbitron:wght@900&display=swap');
body {
  background-color: #151733ff;
  margin: 0;
  font-family: "IBM Plex Mono", monospace;
}

h1 {
  background: linear-gradient(
    to right,
    rgba(255, 68, 58, 0.653),
    rgba(152, 13, 244, 0.655),
    rgba(19, 140, 245, 0.708),
    rgba(40, 199, 111, 0.897),
    rgba(252, 197, 31, 0.785),
    rgba(244, 111, 3, 0.817),
    rgba(240, 5, 44, 0.468)
  );
  color: rgb(0, 0, 0);
  text-align: center;
  margin: 0 auto;
  padding: 10px;
  font-family: 'Orbitron', sans-serif;
}


img {
  max-width: 100%;
  display: block;
  margin: 0 auto;
  height: 200px;
}
header{
  background-color: #000000;
}

footer{
  background: linear-gradient(
    to right,
    rgba(255, 68, 58, 0.653),
    rgba(152, 13, 244, 0.655),
    rgba(19, 140, 245, 0.708),
    rgba(40, 199, 111, 0.897),
    rgba(252, 197, 31, 0.785),
    rgba(244, 111, 3, 0.817),
    rgba(240, 5, 44, 0.468)
  );
  color: rgb(0, 0, 0);
  text-align: center;
  padding:5px;
  font-family: 'Orbitron', sans-serif;
  text-decoration: none;
}
footer a {
  text-decoration: none;
  color: #000000;
  font-size: 15px;
  font-weight: bold;
}
