.light-mode {
  .navbar {
    background: rgba(11, 103, 129, 0.751);
    padding: 5px;
  }
  .nav-list details ul.submenu {
    background: rgba(11, 103, 129, 0.922);
  }
  .menu-toggle {
    background: #42879a;
  }

  @media (max-width: 768px) {
    .nav-list {
      background: rgb(11, 103, 129);
    }
  }
}

.nav-list details {
  display: inline-block;
}

.nav-list details summary {
  cursor: pointer;
  text-decoration: underline;
  color: #fe5ae5;
  font-weight: bold;
}

.nav-list details ul.submenu {
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: none;
  position: absolute;
  background: rgba(6, 33, 90, 0.961);
  border-radius: 10px;
  z-index: 2;
}

.nav-list details ul.submenu li.nav-item:nth-child(1) a {
  color: #fffe04;
}

.nav-list details ul.submenu li.nav-item:nth-child(2) a {
  color: #f9c9f8ff;
}

.nav-list details ul.submenu li.nav-item:nth-child(3) a {
  color: #03fcf9;
}

.nav-list details ul.submenu li.nav-item:nth-child(4) a {
  color: #f71d03;
}

.nav-list details ul.submenu li.nav-item:nth-child(5) a {
  color: #c061ff;
}

.nav-list details ul.submenu li.nav-item:nth-child(6) a {
  color: #fc9f1c;
}

.nav-list details ul.submenu li.nav-item:nth-child(7) a {
  color: #04ff71;
}

.nav-list details:hover ul.submenu {
  display: block;
}

.nav-list details ul.submenu li.nav-item {
  display: block;
  margin: 0;
}

.nav-list details ul.submenu li.nav-item a {
  font-weight: bold;
  padding: 10px;
  display: block;
}

.nav-list details ul.submenu li.nav-item a:hover {
  color: #87ff2c;
}

.nav-list details .submenu-toggle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  vertical-align: middle;
}

.nav-list details[open] .submenu-toggle {
  transform: rotate(180deg);
}

.navbar {
  background: rgb(6, 32, 90);
  padding: 5px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #00ddff;
  font-weight: bold;
}

.nav-item:nth-child(1) a {
  text-decoration: none;
  color: #e5ff00;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  background: rgb(6, 32, 90);
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.menu-toggle.active {
  background-color: transparent;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #8dcbffff;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    background: rgba(6, 33, 90, 0.95);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    z-index: 1;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }

  .bar {
    background-color: #10ffff;
  }
}
