
.nav-list details {
  display: inline-block;
  margin-right: 20px;
}

.nav-list details summary {
  cursor: pointer;
  text-decoration: underline;
  color: #fd6ce7;
  font-weight: bold;
}

.nav-list details ul.submenu {
  list-style-type: none;
  padding: 0;
  text-align: left;
  display: none;
  position: absolute;
  background-color: #151733ff;
  border-radius: 5px;
  z-index: 2;
}
.nav-list details ul.submenu li.nav-item:nth-child(1) a {
  color: #fffe04;
}

.nav-list details ul.submenu li.nav-item:nth-child(2) a {
  color: #fd77e2;
}

.nav-list details ul.submenu li.nav-item:nth-child(3) a {
  color: #03fcf9;
}

.nav-list details ul.submenu li.nav-item:nth-child(4) a {
  color: #f71d03;
}

.nav-list details ul.submenu li.nav-item:nth-child(5) a {
  color: #ba53ff;
}

.nav-list details ul.submenu li.nav-item:nth-child(6) a {
  color: #fc9f1c;
}

.nav-list details ul.submenu li.nav-item:nth-child(7) a {
  color: #04ff71;
}


.nav-list details:hover ul.submenu {
  display: block;
}

.nav-list details ul.submenu li.nav-item {
  display: block;
  margin: 0;
}

.nav-list details ul.submenu li.nav-item a {
  font-weight: bold;
  padding: 10px;
  display: block;
}

.nav-list details ul.submenu li.nav-item a:hover {
  color: #87ff2c;
}


.nav-list details .submenu-toggle {
  display: inline-block;
  width: 15px;
  height: 15px;
  margin-left: 5px;
  vertical-align: middle;
}

.nav-list details[open] .submenu-toggle {
  transform: rotate(180deg);
}


.navbar {
  background-color: rgb(26, 9, 53);
  padding: 10px;
}

.nav-list {
  list-style-type: none;
  padding: 0;
  text-align: center;
}

.nav-item {
  display: inline;
  margin-right: 20px;
}

.nav-item a {
  text-decoration: none;
  color: #00d2f2;
  font-weight: bold;
}

.nav-item:nth-child(1) a{
  text-decoration: none;
  color: #daf200;
  font-weight: bold;
}

.menu-toggle {
  display: none;
  flex-direction: column;
  cursor: pointer;
  padding: 5px;
  background-color: #1f494e;
  border: none;
  border-radius: 5px;
  color: #ffffff;
}

.menu-toggle.active {
  background-color: transparent;
}

.bar {
  width: 30px;
  height: 3px;
  background-color: #00d2f2;
  margin: 4px 0;
}

@media (max-width: 768px) {
  .nav-list {
    flex-direction: column;
    align-items: center;
    background-color: rgba(0, 0, 0, 0.756);
    position: absolute;
    top: 10px;
    left: 0;
    right: 0;
    text-align: center;
    display: none;
    z-index: 1;
  }

  .nav-list.active {
    display: flex;
  }

  .nav-item {
    margin: 10px 0;
  }

  .menu-toggle {
    display: flex;
  }

  .bar {
    background-color: #10ffff;
  }
}
