.Topo {
  text-align: center;
  border: 2px solid rgb(64, 255, 0);
  background-color: #f8f8f827;
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  height: 500px;
  margin: 10px auto;
  margin-top: 50px;
  margin-bottom: 60px;

}

.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 50px auto;
  background-color: #f8f8f8;
  border-radius: 10px;
}

.hole {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
}

.dirt {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("dirt.png") bottom center no-repeat;
  background-size: contain;
  z-index: 2;
}

.hole.up .mole {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("mole.png") center bottom no-repeat;
  background-size: cover;
  z-index: 1;
  animation: moveUp 0.2s ease;
}

@keyframes moveUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hole .mole {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("mole.png") center bottom no-repeat;
  background-size: cover;
  z-index: 1;
}

p {
  font-size: 1.5rem;
  color: cadetblue;
}
@media (max-width: 768px) {

  .Topo {
    margin: 10px;
  }
}