.Topo {
  text-align: center;
  border: 1px solid rgb(64, 255, 0);
  background-color: rgba(0, 0, 0, 0.639);
  padding: 10px;
  border-radius: 10px;
  max-width: 500px;
  height: 600px;
  margin: 0 auto;
  margin-bottom: 50px;
  margin-top: 50px;

}

.light-mode .Topo {
  background-color: rgba(197, 255, 255, 0.671);

}


.game-container {
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  max-width: 400px;
  margin: 50px auto;
  background-image: url("https://media.istockphoto.com/id/119145145/es/vector/patr%C3%B3n-sin-costuras-de-hierba.jpg?s=612x612&w=0&k=20&c=g8GEfiHLkpSwJE6oGUFISnhIuQByTl6Qms4CYEsDEc4=");
  background-size: cover;
  border-radius: 10px;
}

.hole {
  position: relative;
  width: 120px;
  height: 120px;
  cursor: pointer;
  overflow: hidden;
}

.dirt {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("dirt.png") bottom center no-repeat;
  background-size: contain;
  z-index: 2;
}

.hole.up .mole {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("mole.png") center bottom no-repeat;
  background-size: cover;
  z-index: 1;
  animation: moveUp 0.1s ease;
}

@keyframes moveUp {
  0% {
    transform: translateY(100px);
    opacity: 0;
  }

  100% {
    transform: translateY(0);
    opacity: 1;
  }
}

.hole .mole {
  position: absolute;
  width: 100px;
  height: 100px;
  background: url("mole.png") center bottom no-repeat;
  background-size: cover;
  z-index: 1;
}

p {
  font-size: 1.5rem;
  color: cadetblue;
}
@media (max-width: 768px) {

  .Topo {
    margin: 10px;
  }
}