.light-mode {
  .sudoku {
    background-color: rgba(197, 255, 255, 0.671);
  }
}

.sudoku {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.909);
  border: 1px solid rgb(0, 217, 255);
  padding: 50px;
  border-radius: 10px;
  max-width: 500px;
  height: 600px;
  margin: 10px auto;
  margin-top: 50px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}

.sudoku-board {
  display: grid;
  grid-template-columns: repeat(9, 1fr);
  gap: 2px;
  margin: 2%;
  padding: 50px;
}

.sudoku-board input {
  width: 30px;
  height: 30px;
  font-size: 24px;
  text-align: center;
  border: 2px solid #3afbde;
  cursor: pointer;
}

.sudoku-board input:focus {
  outline: none;
  border: 3px solid #2bff00;
}

.sudoku-board input:disabled {
  background-color: #606060f6;
  color: beige;
}

.sudoku-controls {
  cursor: pointer;
}

.sudoku-controls button {
  font-size: 15px;
  border-radius: 8px;
  border-color: rgb(58, 248, 255);
  background-color: #1c0f63;
  color: #ffffff;
  cursor: pointer;
  margin: 10px;
}

.sudoku-controls button:hover {
  background-color: rgb(58, 248, 255);
  border-color: rgb(255, 255, 255);
  color: rgb(4, 4, 4);
}
@media (max-width: 768px) {
  .sudoku-controls {
    display: flex;
    margin: 6px;
  }
  .sudoku {
    margin: 10px;
  }
}
